<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>linked dropdowns</title>
    <style>
        body {
            font-size: 9pt;
        }

        div {
            padding: 6px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script>
        var m1 = angular.module('app', []);
        m1.controller('zip', ['$scope', '$http', '$timeout', function ($scope, $http, $timeout) {
            $scope.seriousRoot = //model 內容
                [
                    {
                        seriousGroup: "SSC",
                        serious: [
                            {key: "SSC-1800", values: ["SSC-1800-0.06", "SSC-1800-0.05", "SSC-1800-0.04"]},
                            {key: "SSC-1700", values: ["SSC-1700-0.06", "SSC-1700-0.05", "SSC-1700-0.04"]},
                            {key: "SSC-1600", values: ["SSC-1600-0.06", "SSC-1600-0.05", "SSC-1600-0.04"]},
                        ]
                    },
                    {
                        seriousGroup: "11X5",
                        serious: [
                            {key: "11X5-1800", values: ["11X5-1800-0.06", "11X5-1800-0.05", "11X5-1800-0.04"]},
                            {key: "11X5-1700", values: ["11X5-1700-0.06", "11X5-1700-0.05", "11X5-1700-0.04"]},
                            {key: "11X5-1600", values: ["11X5-1600-0.06", "11X5-1600-0.05", "11X5-1600-0.04"]},
                        ]
                    },
                    {
                        seriousGroup: "K3",
                        serious: [
                            {key: "K3-1800", values: ["K3-1800-0.06", "K3-1800-0.05", "K3-1800-0.04"]},
                            {key: "K3-1700", values: ["K3-1700-0.06", "K3-1700-0.05", "K3-1700-0.04"]},
                            {key: "K3-1600", values: ["K3-1600-0.06", "K3-1600-0.05", "K3-1600-0.04"]},
                        ]
                    },
                ];

            $scope.update = function (selectedValue) {
                $scope.level2 = selectedValue.values;
                console.log(selectedValue)
            };

            // end
        }]);

    </script>
</head>
<body>
<div ng-controller="zip">

    <div ng-repeat-start="R in seriousRoot"></div>
    <span>{{R.seriousGroup}}</span>
<!--    <p>{{R | json}}</p>-->
<!--    <p>{{R.seriousGroup}}</p>-->

    <select ng-init="Ser = R.serious[0]"
            ng-model="Ser"
            ng-options="S.key for S in R.serious"
    ></select>

<!--    <p>{{Ser}}</p>-->
<!--    <p>{{Ser.values}}</p>-->


    <select>
        <option ng-repeat="data in Ser.values">{{data}}</option>
    </select>


    <div ng-repeat-end></div>


</div>
</body>
</html>