<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="style.css">
    <style type="text/css">
        .ui-icon {
            font-size: 1em;
        }
    </style>
</head>

<body ng-controller="MyController">
<h1>Custom Dropdown</h1>

<label>Select A Car:</label>
<hr/>
{{data | json}}
<hr/>
<span class="ui-icon ui-icon-arrowthick-1-n"></span>

<hr/>
<span class="ui-icon ui-icon-caret-1-e"></span>
<span class="ui-icon carat-1-e"></span>
<hr/>

<div id="btn" class="btn btn-info" ng-click="showDropdown()" dropdown>{{selectedCar}} <i class="ui-icon carat-1-e"></i></div>
<div class="drop-down" ng-show="showList" dropdown-options ng-transclude>
    <ul>
        <li ng-repeat="car in viewModel">
            <a href="" class="{{'ppp' + car.index}}" ng-click="selectItem(car.n)">{{'> '+car.n}}</a></li>
    </ul>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<script src="script.js"></script>
</body>
</html>